.parallax{
    background-image: url(../imagen/pexels-olly-845434.jpg);
    background-size:cover;
    background-position:0 0;
    background-attachment: fixed;

}
/* https://developer.mozilla.org/es/docs/Web/CSS/position
https://es.stackoverflow.com/questions/94907/div-sobre-de-otro-div
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */